body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

#title {
  text-align: center;
  color: #333;
}

#img-div {
  text-align: center;
}

*{
    text-align: center;
}
#image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  display: block; 
}

#img-caption {
  margin-top: 10px;
  color: #777;
}

#tribute-info {
  margin-top: 20px;
  color: #333;
}

#tribute-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  background-color: #4285f4;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}
